<h1>LISTA DE TAREAS</h1>

<section>
  <div>
    <textarea type="text" name="nombre" placeholder="Nombre de la tarea" id="nombre" [(ngModel)]="tarea.nombre">
    </textarea>
    <input type="radio" name="estado"  (click)="pendiente()">Pendiente
    <input type="radio" name="estado"  (click)="fijo()">Completado

  <button (click)="anadirTarea()">Añadir tarea</button>
  </div>
</section>
<section>
  <app-tarea [ArrayPadre]="ArrayTareas"  (emisorTarea)="borrarTareas($event);" (emisorTarea2)="eliminarTareaUnica($event)"></app-tarea>

</section>
<p style="text-align: center;"> Creado por Juan Ángel R.M (2024)</p>